html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;

}
:root{
    /* =============clor============ */
    --accent-color:#2196F3;
    --main-text-color:#757575;
    --hover-btn-color:#188CE8;
    --main-text-color-w:#FFFFFF;
    --main-text-color-b:#212121;
    --backgraund-color-grey:#2F303A;
    --backgraund-color-body:#FFFFFF;
    --section-bg:#F5F4FA;


    /* ================fonts=========== */
    --main-font:'Roboto';
    --sekondary-font:'Raleway';
    /* ==========cards --================= */
    
        --page-bg-color: #f9f9fd;
        --primary-text-color: #212121;
        --card-set-gap: 20px;
        --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}
/* ----------селектор * для встановлення на всі єлеемнти */

.hero{
    text-align: center;
    /* height: 600px; */

}

/* Решта коду */
/* * ----------селектор * для встановлення на всі єлеемнти */ 
body {
    margin: 0;
    font-family: var(--main-font), sans-serif;
    background-color: var(--backgraund-color-body);
    
}
    /* для центрування і обмеження контенту по ширині. */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul{
margin: 0%

    }
    .card-border {
        padding-top: 2px;
        padding-bottom: 2px;
        /* border-top: 1px solid #ECECEC; */

        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;

        
    }
.card-border > h3,
.card-border > p{
    text-decoration: none;
    text-indent: 24px;
    text-align: left;
}


.card-set{

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
  

    }


.card-set > .item{

flex-basis: calc(100% / 3 - 20px);
margin-left: 20px;
margin-top: 20px;
border: 2px;


}

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
 
    .container {
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;

    margin-left: auto;
    margin-right: auto;
    }
.header-container{
    display: flex;
    align-items: center ;
    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;

    margin-left: auto;
    margin-right: auto;

}
.navigation {
    display: flex;
    align-items: center;

}
    /* для центрування і обмеження контенту по ширині. */
  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding: 0;
    justify-content: center;
    }
.btn-secondary{
    margin-bottom: 50px;
    margin-right: 10px;
}
.bg-color{
    background-color: var(--section-bg);
}

.list{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding: 0;
}
.list-portfolio {
    display: flex;
    align-items:flex-start;
    margin-left: auto;
    list-style: none;
    padding: 0;
}

.list-adress{
    list-style: none;
    padding:  0 ;
}

.contact:last-child{
    margin-right: 0;
}


/* ==========================header========================= */
.logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 95px;
    font-family: var(--sekondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

 /* рамочка для обнар. маржина */
    /* outline: 2px solid tomato; */
/* рамочка для обнар. маржина */
    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}

.logo-footer {
    margin-right: 1025px;
    margin-bottom: 20px;
   
    font-family: var(--sekondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}
.main-header{

    border-bottom: 1px solid #ECECEC;
}


.logo-color{
color: var(--accent-color);
}

.contact{
    
}
.menu{
    
}

.menu-item:last-child{
    margin: 0;
}
.menu-item {
    margin-right: 52px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link {
    display: block;
    text-decoration: none;
}


.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--main-text-color-b);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.mail-link-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.current{
    color: var(--hover-btn-color);
}
.mail-link-header:hover,
.mail-link-header:focus {
    color: var(--accent-color);
}
.contact{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 52px;
   
}

.contact-number-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.contact-number-header:hover,
.contact-number-header:focus {
    color: var(--accent-color);
}

/* =======================/header==================== */

/* ========================hero====================== */
.table-h1{

    margin-right: auto;
    margin-bottom: 73px;
    margin-left: auto;
    
    text-transform: uppercase;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: var(--main-text-color-w);
letter-spacing: 0.06em;
}

.bgcolor-hero{
    background-color: var(--backgraund-color-grey);
}
.btn-primary:hover,
.btn-primary:focus{
background-color:var(--accent-color);
color: var(--main-text-color-w);
}
 .btn-primary{
    background: var(--section-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--main-font) sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    border: 0;
    
    /* color: var(--main-text-color-w); */
    /* ------- сделать кнопку прозрачной--------------- */
    /* background-color: transparent; */
    /* ------- сделать кнопку прозрачной--------------- */
    /* /---------- ще е властивість для прозорості OPACITY---------/ */

}




.modal-btn {

font-family: var(--main-font) sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: inline-block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: var(--main-text-color-w);
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;

padding: 10px 32px 10px 32px;
margin-right: auto;
margin-bottom: 83px;
margin-left: auto;
    
}


.btnhover:hover,
.btnhover:focus{

 background-color:var(--hover-btn-color);
}


/* ========================/hero============================ */

/* ===========================section2=================== */
.table-of-contents{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-text-color-b);
}
.paragraph-h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}
.table{
margin-right: 30px;
}
.table:last-child{
    margin: 0;
}
/* ===========================/section2================ */

/* ===========================section3================ */
.table-of-contents-h2 {
margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color-b);
    
}

.img-s3 {
    margin-right: 30px;

}

.img-s3:last-child {
    margin: 0;
}
/* ===========================/section3================ */


/* =====================section4============ */


.paragraph-s4{
margin-top: 13px;
margin-bottom: 30px;

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

.paragraph-colors{
    color: var(--main-text-color);
}
.table-h3{
margin-top: 30px;

    text-align: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color-b);
}

 .img-s4:last-child {
    margin: 0;
}

.img-s4{
    margin-right: 30px;
} 
.foto{

}
.parent-foto{

}
.card {
    max-width: 320px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;

    /* padding-bottom: 70px; */
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    background-color: var(--main-text-color-w);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* =====================/section4============ */
/* =======================footer==================== */
.adress-footer{
    margin-right: 900px;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color-w);

}
.footer-bg{
    background-color: var(--backgraund-color-grey);
}

.logo-footer-color{
    color: var(--main-text-color-w);
}
.mail-link-footer {
    margin-right: 1030px;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}

.mail-link-footer:hover,
.mail-link-footer:focus {
    color: var(--accent-color);
}

.contact-number-footer {
    margin-right: 1030px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}
.contact-number-footer:hover,
.contact-number-footer:focus {
    color: var(--accent-color);
    
}
/* =======================/footer==================== */

/* ===========inlyne обводка для читабельности margin============== */



/* ===========inlyne обводка для читабельности margin============== */
/* ================ или можно  background color  ================= */